language: php

php:
- 5.3

install:
  - npm install -g jshint
  - npm install -g jscs

script:
  - jshint .
  - jscs .

notifications:
  irc:
    channels:
      - "chat.freenode.net#wikidata"
    on_success: never
    on_failure: always
    template:
      - "%{repository}/%{branch}/%{commit} : %{author} %{message} %{build_url}"
