/**
 * @licence GNU GPL v2+
 * @author H. Snater < mediawiki@snater.com >
 */

.valueview-expert-GlobeCoordinateInput-input {
	width: 100%;
}

.ui-inputextender-extension .valueview-expert-GlobeCoordinateInput-advancedtoggler {
	border: none;
	background: none;
	margin-top: 0.5em;
	padding-top: 0.5em;
	border-top: 1px dashed #CCC;
	width: 100%;
}
